<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}"> -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<title>
		Blogs Here!!!
	</title>
</head>
<body>
<h1>
	Hi Vedhu
</h1>

<div class="content container1">
    <div class="row">
        <div class="col-md-8">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>

</body>
</html>